@model Cities.Models.City

@{  Layout = "_Layout"; }

<form method="post">
	<div class="form-group">
		<label helper-for="Name" />
		<input helper-for="Name" />
	</div>
	<div class="form-group">
		<label helper-for="Country" />
		<input helper-for="Country" />
	</div>
	<div class="form-group">
		<label helper-for="Population" />
		<input helper-for="Population" />
	</div>
	<button type="submit" bs-button-color="danger">Add</button>
	<button type="reset"class="btn btn-primary">Reset</button>
	<a class="btn btn-primary" href="/Home/Index">Cancel</a>
</form>
